In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [19]:
df = pd.read_csv('dummy_data.csv')

## Automated Profile Report

In [20]:
profile = ProfileReport(df)
# profile

In [21]:
diff_val = list(pd.unique(df["number(num)"]))

sub_frame_list = []

for new_val in diff_val:
    sub_frame_list.append(df[df["number(num)"] == new_val])

In [22]:
# sub_frame_list[0]
# sub_frame_list[1]
# sub_frame_list[2]
sub_df = sub_frame_list[2]

## Find Duplicate Rows

In [23]:
sub_df[sub_df.duplicated(subset = ['property_numeric_value','property_val_units','property_value'], keep = False)]

,number(num),SMILES(text),inchi(num),compound(cat),mw(numeric),property_name,property_type,property_value,property_numeric_value,property_val_units,property_condition_db_value,property_condition_units,mode of delivery,species
13,123141,OCH(C),22.0,GLY,property,w,re,dup1,dup1,dup1,loll,fs,921uk nc,casdce
14,123141,OCH(C),22.0,GLY,property,p,re1,dup1,dup1,dup1,lolll,f,kt jkhbkjb,cxdw

In [24]:
def append_text(elem):
    return elem + 791

def add_q_if_p(elem):
    if elem == 'p':
        return elem + 'q'
    else:
        return elem
    
def apply_nan(elem):
    if elem == r'/N':
        return np.nan
    else:
        return elem

In [25]:
df[df["species"] == "cxdw"]

,number(num),SMILES(text),inchi(num),compound(cat),mw(numeric),property_name,property_type,property_value,property_numeric_value,property_val_units,property_condition_db_value,property_condition_units,mode of delivery,species
11,123141,OCH(C),22.0,GLY,property,p,any,y,anything,d,else,f,a ry3uY1,cxdw
12,123141,OCH(C),22.0,GLY,property,p,TP,bb,things,s,lol,f,ygjkhf,cxdw
14,123141,OCH(C),22.0,GLY,property,p,re1,dup1,dup1,dup1,lolll,f,kt jkhbkjb,cxdw
15,123141,OCH(C),22.0,GLY,property,p,TP,b,Nan,s,lol,f,hg jgfred,cxdw
17,123141,OCH(C),22.0,GLY,property2,q,TP2,c,\Nan,sq,lol,f,hg jgfred,cxdw

## Apply a function to a column

In [26]:
# sub_df.iat[0,2] = 2314
# sub_df["inchi(num)"] = sub_df["inchi(num)"].apply(append_text)
# sub_df["property_name"] = sub_df["property_name"].apply(add_q_if_p)

In [27]:
df.iat[15, 8] = r'/N'
df.iat[16, 8] = r'/N'
df.iat[17, 8] = r'/N'
df

,number(num),SMILES(text),inchi(num),compound(cat),mw(numeric),property_name,property_type,property_value,property_numeric_value,property_val_units,property_condition_db_value,property_condition_units,mode of delivery,species
0,453218,COO=OCOO(CNH),194.5,caffiene,87,x,something,y,somethingelse,z,else,u,text,text
1,453218,COO=OCOO(CNH),194.5,caffiene,prop1,x,something,y,somethingelse,z,else,u,text2,skajdl kj
2,453218,COO=OCOO(CNH),194.5,caffiene,prop3,a,something,y,somethingelse,d,else,u,aksjd l,skajdl kj
3,453218,COO=OCOO(CNH),194.5,caffiene,prop1,a,something,y,somethingelse,d,else,u,lak c,skajdl kj
4,453218,COO=OCOO(CNH),194.5,caffiene,prop1,a,something,y,somethingelse,z,else,u,zlxkcj,aljshk cn s
5,453218,COO=OCOO(CNH),194.5,caffiene,prop1,x,something,y,somethingelse,d,else,u,zlxkcj,a ry3uY1
6,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,a ry3uY1,sadx
7,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,asdjak sd jdskf msd\nksdj flkjs f\nsij iej[p e...,sadx
8,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,dup1,dup1,dup1,else,e,NaN,sadx
9,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,"kn c,mx",sadx
10,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,921uk nc,sadx
11,123141,OCH(C),22.0,GLY,property,p,any,y,anything,d,else,f,a ry3uY1,cxdw
12,123141,OCH(C),22.0,GLY,property,p,TP,bb,things,s,lol,f,ygjkhf,cxdw
13,123141,OCH(C),22.0,GLY,property,w,re,dup1,dup1,dup1,loll,fs,921uk nc,casdce
14,123141,OCH(C),22.0,GLY,property,p,re1,dup1,dup1,dup1,lolll,f,kt jkhbkjb,cxdw
15,123141,OCH(C),22.0,GLY,property,p,TP,b,/N,s,lol,f,hg jgfred,cxdw
16,123141,OCH(C),22.0,GLY,property,p,TP,bc,/N,q,lol,fs,asdx,zxc e
17,123141,OCH(C),22.0,GLY,property2,q,TP2,c,/N,sq,lol,f,hg jgfred,cxdw
18,Beautiful is better than ugly.\nExplicit is be...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df["property_name"] = df["property_name"].apply(add_q_if_p)


# if inchi is even -> add 100
def change_inchi(elem):
    if elem % 2 == 0:
        return elem + 100
    else:
        return elem
    
df["inchi(num)"] = df["inchi(num)"].apply(change_inchi)

df["property_numeric_value"] = df["property_numeric_value"].apply(apply_nan)

df

,number(num),SMILES(text),inchi(num),compound(cat),mw(numeric),property_name,property_type,property_value,property_numeric_value,property_val_units,property_condition_db_value,property_condition_units,mode of delivery,species
0,453218,COO=OCOO(CNH),194.5,caffiene,87,x,something,y,somethingelse,z,else,u,text,text
1,453218,COO=OCOO(CNH),194.5,caffiene,prop1,x,something,y,somethingelse,z,else,u,text2,skajdl kj
2,453218,COO=OCOO(CNH),194.5,caffiene,prop3,a,something,y,somethingelse,d,else,u,aksjd l,skajdl kj
3,453218,COO=OCOO(CNH),194.5,caffiene,prop1,a,something,y,somethingelse,d,else,u,lak c,skajdl kj
4,453218,COO=OCOO(CNH),194.5,caffiene,prop1,a,something,y,somethingelse,z,else,u,zlxkcj,aljshk cn s
5,453218,COO=OCOO(CNH),194.5,caffiene,prop1,x,something,y,somethingelse,d,else,u,zlxkcj,a ry3uY1
6,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,a ry3uY1,sadx
7,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,asdjak sd jdskf msd\nksdj flkjs f\nsij iej[p e...,sadx
8,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,dup1,dup1,dup1,else,e,NaN,sadx
9,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,"kn c,mx",sadx
10,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,921uk nc,sadx
11,123141,OCH(C),122.0,GLY,property,pq,any,y,anything,d,else,f,a ry3uY1,cxdw
12,123141,OCH(C),122.0,GLY,property,pq,TP,bb,things,s,lol,f,ygjkhf,cxdw
13,123141,OCH(C),122.0,GLY,property,w,re,dup1,dup1,dup1,loll,fs,921uk nc,casdce
14,123141,OCH(C),122.0,GLY,property,pq,re1,dup1,dup1,dup1,lolll,f,kt jkhbkjb,cxdw
15,123141,OCH(C),122.0,GLY,property,pq,TP,b,NaN,s,lol,f,hg jgfred,cxdw
16,123141,OCH(C),122.0,GLY,property,pq,TP,bc,NaN,q,lol,fs,asdx,zxc e
17,123141,OCH(C),122.0,GLY,property2,q,TP2,c,NaN,sq,lol,f,hg jgfred,cxdw
18,Beautiful is better than ugly.\nExplicit is be...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
"Atharva \"Tikhe\",mit"

# find and take out special chars using regex

df.iat[17,13] = "Atharva \"Tikhe\",mit"

In [30]:
df

,number(num),SMILES(text),inchi(num),compound(cat),mw(numeric),property_name,property_type,property_value,property_numeric_value,property_val_units,property_condition_db_value,property_condition_units,mode of delivery,species
0,453218,COO=OCOO(CNH),194.5,caffiene,87,x,something,y,somethingelse,z,else,u,text,text
1,453218,COO=OCOO(CNH),194.5,caffiene,prop1,x,something,y,somethingelse,z,else,u,text2,skajdl kj
2,453218,COO=OCOO(CNH),194.5,caffiene,prop3,a,something,y,somethingelse,d,else,u,aksjd l,skajdl kj
3,453218,COO=OCOO(CNH),194.5,caffiene,prop1,a,something,y,somethingelse,d,else,u,lak c,skajdl kj
4,453218,COO=OCOO(CNH),194.5,caffiene,prop1,a,something,y,somethingelse,z,else,u,zlxkcj,aljshk cn s
5,453218,COO=OCOO(CNH),194.5,caffiene,prop1,x,something,y,somethingelse,d,else,u,zlxkcj,a ry3uY1
6,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,a ry3uY1,sadx
7,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,asdjak sd jdskf msd\nksdj flkjs f\nsij iej[p e...,sadx
8,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,dup1,dup1,dup1,else,e,NaN,sadx
9,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,"kn c,mx",sadx
10,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,921uk nc,sadx
11,123141,OCH(C),122.0,GLY,property,pq,any,y,anything,d,else,f,a ry3uY1,cxdw
12,123141,OCH(C),122.0,GLY,property,pq,TP,bb,things,s,lol,f,ygjkhf,cxdw
13,123141,OCH(C),122.0,GLY,property,w,re,dup1,dup1,dup1,loll,fs,921uk nc,casdce
14,123141,OCH(C),122.0,GLY,property,pq,re1,dup1,dup1,dup1,lolll,f,kt jkhbkjb,cxdw
15,123141,OCH(C),122.0,GLY,property,pq,TP,b,NaN,s,lol,f,hg jgfred,cxdw
16,123141,OCH(C),122.0,GLY,property,pq,TP,bc,NaN,q,lol,fs,asdx,zxc e
17,123141,OCH(C),122.0,GLY,property2,q,TP2,c,NaN,sq,lol,f,hg jgfred,"Atharva ""Tikhe"",mit"
18,Beautiful is better than ugly.\nExplicit is be...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Regular expression for finding special characters

In [31]:
df["property_condition_units"].str.match(r'^[a-zA-Z0-9]*$')

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18     NaN
Name: property_condition_units, dtype: object

In [32]:
df["mode of delivery"].str.match(r'^[a-zA-Z0-9 ,]*$')

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7     False
8       NaN
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18      NaN
Name: mode of delivery, dtype: object

In [33]:
df.iat[7,12]
df["mode of delivery"]

0                                                  text
1                                                 text2
2                                               aksjd l
3                                                 lak c
4                                               zlxkcj
5                                               zlxkcj
6                                              a ry3uY1
7     asdjak sd jdskf msd\nksdj flkjs f\nsij iej[p e...
8                                                   NaN
9                                               kn c,mx
10                                             921uk nc
11                                             a ry3uY1
12                                               ygjkhf
13                                             921uk nc
14                                           kt jkhbkjb
15                                            hg jgfred
16                                                 asdx
17                                            hg jgfred
18                                                  NaN
Name: mode of delivery, dtype: object

In [ ]:
def find_newline(elem):
    if r'\n' in elem:
        return

In [67]:
cols = df.columns
last_col = cols[len(cols)-1]

string = "something\n"
string[-1]


df

,number(num),SMILES(text),inchi(num),compound(cat),mw(numeric),property_name,property_type,property_value,property_numeric_value,property_val_units,property_condition_db_value,property_condition_units,mode of delivery,species
0,453218,COO=OCOO(CNH),194.5,caffiene,87,x,something,y,somethingelse,z,else,u,text,text
1,453218,COO=OCOO(CNH),194.5,caffiene,prop1,x,something,y,somethingelse,z,else,u,text2,skajdl kj
2,453218,COO=OCOO(CNH),194.5,caffiene,prop3,a,something,y,somethingelse,d,else,u,aksjd l,skajdl kj
3,453218,COO=OCOO(CNH),194.5,caffiene,prop1,a,something,y,somethingelse,d,else,u,lak c,skajdl kj
4,453218,COO=OCOO(CNH),194.5,caffiene,prop1,a,something,y,somethingelse,z,else,u,zlxkcj,aljshk cn s
5,453218,COO=OCOO(CNH),194.5,caffiene,prop1,x,something,y,somethingelse,d,else,u,zlxkcj,a ry3uY1
6,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,a ry3uY1,sadx
7,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,asdjak sd jdskf msd\nksdj flkjs f\nsij iej[p e...,sadx
8,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,dup1,dup1,dup1,else,e,NaN,sadx
9,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,"kn c,mx",sadx
10,909921,C-OO=OCCOS,89.0,aldosterone,prop2,q,any,y,anything,d,else,e,921uk nc,sadx
11,123141,OCH(C),122.0,GLY,property,pq,any,y,anything,d,else,f,a ry3uY1,cxdw
12,123141,OCH(C),122.0,GLY,property,pq,TP,bb,things,s,lol,f,ygjkhf,cxdw
13,123141,OCH(C),122.0,GLY,property,w,re,dup1,dup1,dup1,loll,fs,921uk nc,casdce
14,123141,OCH(C),122.0,GLY,property,pq,re1,dup1,dup1,dup1,lolll,f,kt jkhbkjb,cxdw
15,123141,OCH(C),122.0,GLY,property,pq,TP,b,NaN,s,lol,f,hg jgfred,cxdw
16,123141,OCH(C),122.0,GLY,property,pq,TP,bc,NaN,q,lol,fs,asdx,this is multiline comment \n wrapped by using ...
17,123141,OCH(C),122.0,GLY,property2,q,TP2,c,NaN,sq,lol,f,hg jgfred,this is multiline comment \n wrapped by using ...
18,Beautiful is better than ugly.\nExplicit is be...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrap continue